:root {
    --blue-primary: #0123A3;
    --blue-secondary: #001874;
    --light-bg: #FFFFFF;
    --light-bg-alt: #EFEFEF;
    --dark-bg: #131313;
    --dark-bg-alt: #1E1E1E;
    --font-ui: 'Segoe UI', sans-serif;
    --font-mono: 'Courier New', monospace;
}

body {
    margin: 0;
    font-family: var(--font-ui);
    background: var(--light-bg);
    color: var(--blue-secondary);
    transition: background 0.3s, color 0.3s;
}

header {
    background: var(--light-bg-alt);
    padding: 2rem;
    text-align: center;
    border-bottom: 3px solid var(--blue-primary);
}

.title {
    font-size: 2.5rem;
    font-family: var(--font-mono);
    margin: 0;
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 0.5rem;
}

.contact-links {
    margin-top: 1rem;
}

.contact-links a,
#theme-toggle {
    margin: 0 0.5rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--blue-primary);
    background: none;
    border: none;
    cursor: pointer;
}

section {
    padding: .5rem;
    max-width: 800px;
    margin: 0 auto;
}

section h2 {
    font-size: 1.8rem;
    font-family: var(--font-mono);
    border-left: 5px solid var(--blue-primary);
    padding-left: 0.5rem;
}

.projects .project-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project {
    padding: 1rem;
    background: var(--light-bg-alt);
    border-left: 4px solid var(--blue-secondary);
}

footer {
    padding: .5rem;
    text-align: center;
    background: var(--light-bg-alt);
    font-size: 0.9rem;
}

/* Dark mode */
body.dark {
    background: var(--dark-bg);
    color: var(--light-bg-alt);

    header {
        background: var(--dark-bg-alt);
        border-color: var(--blue-primary);
    }

    .contact-links a, #theme-toggle {
        color: var(--light-bg-alt);
    }

    .project {
    background: var(--dark-bg-alt);
    border-color: var(--blue-primary);
    }

    footer {
        background: var(--dark-bg-alt);
    }
} 
